version: '3.8'

services:
  chromadb:
    image: zylarian/dockyard-chromadb:latest
    container_name: chromadb
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - chromadb_data:/chroma/chroma
    environment:
      - IS_PERSISTENT=TRUE

volumes:
  chromadb_data:
