services:
  prometheus:
    image: zylarian/dockyard-prometheus:local
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "${PORT:-9090}:9090"
    volumes:
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - dockyard
    deploy:
      resources:
        limits:
          memory: 2G

volumes:
  prometheus_data:
    name: prometheus_data

networks:
  dockyard:
    external: true
