services:
  gitea:
    image: zylarian/dockyard-gitea:local
    container_name: gitea
    restart: unless-stopped
    ports:
      - "${PORT:-3700}:3000"
      - "${SSH_PORT:-3702}:22"
    environment:
      - APP_NAME=Zylarian Gitea
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=postgresql:5432
      - GITEA__database__NAME=${POSTGRES_DB:-gitea}
      - GITEA__database__USER=${POSTGRES_USER:-postgres}
      - GITEA__database__PASSWD=${POSTGRES_PASSWORD:-postgres}
      - GITEA__server__DOMAIN=localhost
      - GITEA__server__SSH_DOMAIN=localhost
      - GITEA__server__ROOT_URL=http://localhost:${PORT:-3700}
      - TZ=${TZ:-UTC}
    volumes:
      - gitea_data:/data

    networks:
      - dockyard
    deploy:
      resources:
        limits:
          memory: 1G

volumes:
  gitea_data:
    name: gitea_data

networks:
  dockyard:
    external: true
