services:
  langfuse:
    image: zylarian/dockyard-langfuse:local
    container_name: langfuse
    restart: unless-stopped
    ports:
      - "${PORT:-3400}:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@postgresql:5432/${POSTGRES_DB:-postgres}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_AUTH=
      - NEXTAUTH_URL=http://localhost:${PORT:-3400}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET:-generate-a-secure-secret-key-here}
      - SALT=${SALT:-generate-a-random-salt-here}
      - TELEMETRY_ENABLED=${TELEMETRY_ENABLED:-true}
      - CLICKHOUSE_MIGRATION_URL=clickhouse://clickhouse:9000
      - CLICKHOUSE_URL=http://clickhouse:8123
      - CLICKHOUSE_USER=${CLICKHOUSE_USER:-default}
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD:-password}

    networks:
      - dockyard
    deploy:
      resources:
        limits:
          memory: 2G

networks:
  dockyard:
    external: true
