services:
  langfuse:
    image: zylarian/dockyard-langfuse:local
    container_name: langfuse
    restart: unless-stopped
    ports:
      - "${PORT:-3400}:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@postgresql:5432/${POSTGRES_DB:-postgres}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_AUTH=
      - NEXTAUTH_URL=http://localhost:${PORT:-3400}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET:-generate-a-secure-secret-key-here}
      - SALT=${SALT:-generate-a-random-salt-here}
      - TELEMETRY_ENABLED=${TELEMETRY_ENABLED:-true}
      - CLICKHOUSE_MIGRATION_URL=clickhouse://clickhouse:9000
      - CLICKHOUSE_URL=http://clickhouse:8123
      - CLICKHOUSE_USER=${CLICKHOUSE_USER:-default}
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD:-password}
      - CLICKHOUSE_CLUSTER_ENABLED=false
      - ENCRYPTION_KEY=${ENCRYPTION_KEY:-f2e6b6ef7314fcf79ed1153df6ce8a514c5528e31e59468d5f847705ecbad944}

      # S3 Configuration (MinIO)
      - LANGFUSE_S3_EVENT_UPLOAD_BUCKET=${LANGFUSE_S3_EVENT_UPLOAD_BUCKET:-langfuse}
      - LANGFUSE_S3_EVENT_UPLOAD_REGION=${LANGFUSE_S3_EVENT_UPLOAD_REGION:-us-east-1}
      - LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID=${LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID:-minio}
      - LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY=${LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY:-miniosecret}
      - LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT=${LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT:-http://minio:9000}
      - LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE=${LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE:-true}

    depends_on:
      - minio

    networks:
      - dockyard
    deploy:
      resources:
        limits:
          memory: 2G

  minio:
    image: minio/minio:RELEASE.2023-12-23T07-19-11Z
    container_name: langfuse_minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=${LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID:-minio}
      - MINIO_ROOT_PASSWORD=${LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY:-miniosecret}
    volumes:
      - minio_data:/data
    networks:
      - dockyard
    ports:
      - "${MINIO_PORT:-9010}:9000"
      - "${MINIO_CONSOLE_PORT:-9011}:9001"

  mc:
    image: minio/mc
    container_name: langfuse_minio_create_bucket
    depends_on:
      - minio
    networks:
      - dockyard
    entrypoint: >
      /bin/sh -c " /usr/bin/mc config host add myminio http://minio:9000 ${LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID:-minio} ${LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY:-miniosecret}; /usr/bin/mc mb myminio/${LANGFUSE_S3_EVENT_UPLOAD_BUCKET:-langfuse} || echo 'Bucket already exists'; /usr/bin/mc anonymous set public myminio/${LANGFUSE_S3_EVENT_UPLOAD_BUCKET:-langfuse}; exit 0; "

networks:
  dockyard:
    external: true

volumes:
  minio_data:
    driver: local
