services:
  clickhouse:
    image: zylarian/dockyard-clickhouse:local
    container_name: clickhouse
    restart: unless-stopped
    ports:
      - "${PORT:-8123}:8123"
      - "${PORT_NATIVE:-9000}:9000"
    environment:
      - CLICKHOUSE_USER=${CLICKHOUSE_USER:-default}
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD:-password}
      - CLICKHOUSE_DB=${CLICKHOUSE_DB:-default}
    volumes:
      - clickhouse_data:/var/lib/clickhouse
    networks:
      - dockyard
    deploy:
      resources:
        limits:
          memory: 2G
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

volumes:
  clickhouse_data:
    name: clickhouse_data

networks:
  dockyard:
    external: true
